language: node_js
matrix:
  include:
  - node_js: "8"
    script: npm test && npm run coverage
  - node_js: "6"
    script: npm test && npm run coverage
  - node_js: "4"
    script: npm run test -- --harmony-destructuring
services:
  - redis-server
git:
  depth: 5
